.header-container {
    transition: top 0.3s;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .brand h1 {
    margin: 0;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu li {
    margin: 0 15px;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Media Queries untuk Responsif */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .nav-menu.open {
      display: flex;
    }
  
    .nav-menu ul {
      flex-direction: column;
    }
  
    .nav-menu li {
      margin: 10px 0;
    }
  }
  